<!-- <div>
  <p>{{ dettaglioCliente.nomeContatto }}</p>
  <p>{{ dettaglioCliente.cognomeContatto }}</p>
  <p>{{ dettaglioCliente.email }}</p>
  <p>{{ dettaglioCliente.telefonoContatto }}</p>
  <p>{{ dettaglioCliente.partitaIva }}</p>
  <p>{{ dettaglioCliente.pec }}</p>
  <p>{{ dettaglioCliente.ragioneSociale}}</p>
  <p>{{ dettaglioCliente.tipoCliente }}</p>
  <p></p>
</div> -->
<div class="card">
  <h5 class="card-header">{{ dettaglioCliente.nomeContatto }} {{ dettaglioCliente.cognomeContatto }}</h5>
  <div class="card-body">
    <h5 class="card-title">{{ dettaglioCliente.email }}</h5>
    <p class="card-text">{{ dettaglioCliente.telefonoContatto }}</p>
    <p class="card-text">{{ dettaglioCliente.partitaIva }}</p>
    <p class="card-text">Ragione Sociale : {{ dettaglioCliente.ragioneSociale }}</p>
    <p class="card-text">PEC : {{ dettaglioCliente.pec }}</p>
    <p class="card-text">Indirizzo Sede Operativa : {{ dettaglioCliente.indirizzoSedeOperativa.via }}</p>
    <p class="card-text">Indirizzo Sede Legale : {{ dettaglioCliente.indirizzoSedeLegale.via }}</p>
    <p class="card-text">Tipo Cliente : {{ dettaglioCliente.tipoCliente }}</p>
  </div>
</div>
