.container button {
  border-radius: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: green;
  color: whitesmoke;
  margin-left: 14em;
}

.card {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-body button {
  border-radius: 15px;
  margin-left: 2em;
  margin-right: 4em;
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: green;
  color: whitesmoke;
}

.card-body {
  margin-left: 5em;
}
